/* Media CSS style page. */
/* To handle both handheld and larger, less handheld devices. */
/* Handheld Devices (Phones and Tablets, 992px and down). */
@media only screen and (max-width: 992px) {
  /* Sets all columns to be 100% the width of the webpage irregardless of normal setting. */
  [class*="col-"] {
    width: 100%;
  }

  /* Sets the navbar buttons to each take 100% of the screen, for easier accessability when looking on a mobile device. */
  .navbar-top a {
    width: 100%;
  }

  /* Text on mobile is set to default, which appears to work fine */
}

/* Larger devices (laptops/desktops, 992px and up). */
@media only screen and (min-width: 992px) {
  /* Sets the standard h2 size to 2% viewport width. */
  h2 {
    font-size: 2vw;
  }

  /* Sets the standard h3 size to 1.5% viewport width. */
  h3 {
    font-size: 1.5vw;
  }

  /* Sets the top navbar button text to 1% viewport width. */
  .navbar-top a {
    font-size: 1vw;
  }

  /* Sets the row text to 1% viewport width. */
  .row p {
    font-size: 1vw;
  }

  /* Sets the row unordered list text to 1% viewport width. */
  .row ul {
    font-size: 1vw;
  }

  /* Sets the footer text to 1% viewport width. */
  footer p {
    font-size: 1vw;
  }

  /* Sets the social icons to 5% width and height. */
  .socials img {
    width: 5%;
    height: 5%;
  }

  /* Sets the bottom navbar button text to 1% viewport width. */
  .navbar-bottom a {
    font-size: 1vw;
  }
}
